In [122]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.neighbors import KNeighborsRegressor

In [2]:
!ls

README.md      Untitled.ipynb data           images         score_model.py

In [3]:
df = pd.read_csv('data/Train.csv')

/Users/josh-mantovani/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
len(df['auctioneerID'].unique())

31

In [11]:
df.head(20)

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1139255,26500,1001274,4605,121,3.0,2004,508.0,Low,12/18/2008 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1139256,21000,772701,1937,121,3.0,1993,11540.0,High,8/26/2004 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
7,1139261,27000,902002,3539,121,3.0,2001,4883.0,High,11/17/2005 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1139272,21500,1036251,36003,121,3.0,2008,302.0,Low,8/27/2009 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
9,1139275,65000,1016474,3883,121,3.0,1000,20700.0,Medium,8/9/2007 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
10,1139278,24000,1024998,4605,121,3.0,2004,1414.0,Medium,8/21/2008 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1139282,22500,319906,5255,121,3.0,1998,2764.0,Low,8/24/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,PAT,None or Unspecified,NaN,NaN
12,1139283,36000,1052214,2232,121,3.0,1998,0.0,NaN,10/20/2005 0:00,...,None or Unspecified,"11' 0""",None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
13,1139284,30500,1068082,3542,121,3.0,2001,1921.0,Medium,1/26/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1139290,28000,1058450,5162,121,3.0,2004,320.0,Low,1/3/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1139291,19000,1004810,4604,121,3.0,1999,2450.0,Medium,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1139292,13500,1026973,9510,121,3.0,1999,1972.0,Low,6/14/2007 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
17,1139299,9500,1002713,21442,121,3.0,2003,0.0,NaN,1/28/2010 0:00,...,16 inch,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
18,1139301,12500,125790,7040,121,3.0,2001,994.0,Low,3/9/2006 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,Yes,Double,NaN,NaN,NaN,NaN,NaN
19,1139304,11500,1011914,3177,121,3.0,1991,8005.0,Medium,11/17/2005 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
SalesID                     401125 non-null int64
SalePrice                   401125 non-null int64
MachineID                   401125 non-null int64
ModelID                     401125 non-null int64
datasource                  401125 non-null int64
auctioneerID                380989 non-null float64
YearMade                    401125 non-null int64
MachineHoursCurrentMeter    142765 non-null float64
UsageBand                   69639 non-null object
saledate                    401125 non-null object
fiModelDesc                 401125 non-null object
fiBaseModel                 401125 non-null object
fiSecondaryDesc             263934 non-null object
fiModelSeries               56908 non-null object
fiModelDescriptor           71919 non-null object
ProductSize                 190350 non-null object
fiProductClassDesc          401125 non-null object
state                       401125 non-null object
ProductGroup                401125 non-null object
ProductGroupDesc            401125 non-null object
Drive_System                104361 non-null object
Enclosure                   400800 non-null object
Forks                       192077 non-null object
Pad_Type                    79134 non-null object
Ride_Control                148606 non-null object
Stick                       79134 non-null object
Transmission                183230 non-null object
Turbocharged                79134 non-null object
Blade_Extension             25219 non-null object
Blade_Width                 25219 non-null object
Enclosure_Type              25219 non-null object
Engine_Horsepower           25219 non-null object
Hydraulics                  320570 non-null object
Pushblock                   25219 non-null object
Ripper                      104137 non-null object
Scarifier                   25230 non-null object
Tip_Control                 25219 non-null object
Tire_Size                   94718 non-null object
Coupler                     213952 non-null object
Coupler_System              43458 non-null object
Grouser_Tracks              43362 non-null object
Hydraulics_Flow             43362 non-null object
Track_Type                  99153 non-null object
Undercarriage_Pad_Width     99872 non-null object
Stick_Length                99218 non-null object
Thumb                       99288 non-null object
Pattern_Changer             99218 non-null object
Grouser_Type                99153 non-null object
Backhoe_Mounting            78672 non-null object
Blade_Type                  79833 non-null object
Travel_Controls             79834 non-null object
Differential_Type           69411 non-null object
Steering_Controls           69369 non-null object
dtypes: float64(2), int64(6), object(45)
memory usage: 162.2+ MB

In [20]:
df['ProductSize']

0            NaN
1         Medium
2            NaN
3          Small
4            NaN
           ...
401120      Mini
401121      Mini
401122      Mini
401123      Mini
401124      Mini
Name: ProductSize, Length: 401125, dtype: object

In [36]:
df.iloc[:,40:].head(20)

,Grouser_Tracks,Hydraulics_Flow,Track_Type,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,None or Unspecified,Standard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None or Unspecified,Standard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None or Unspecified,PAT,None or Unspecified,NaN,NaN
12,NaN,NaN,Steel,None or Unspecified,"11' 0""",None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,Steel,16 inch,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,Yes,Double,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
for col in df.columns[40:]:
    print(col, np.unique(df[col].dropna()))

Grouser_Tracks ['None or Unspecified' 'Yes']
Hydraulics_Flow ['High Flow' 'None or Unspecified' 'Standard']
Track_Type ['Rubber' 'Steel']
Undercarriage_Pad_Width ['14 inch' '15 inch' '16 inch' '18 inch' '20 inch' '22 inch' '24 inch'
 '25 inch' '26 inch' '27 inch' '28 inch' '30 inch' '31 inch' '31.5 inch'
 '32 inch' '33 inch' '34 inch' '36 inch' 'None or Unspecified']
Stick_Length ['10\' 10"' '10\' 2"' '10\' 6"' '11\' 0"' '11\' 10"' '12\' 10"' '12\' 4"'
 '12\' 8"' '13\' 10"' '13\' 7"' '13\' 9"' '14\' 1"' '15\' 4"' '15\' 9"'
 '19\' 8"' '24\' 3"' '6\' 3"' '7\' 10"' '8\' 10"' '8\' 2"' '8\' 4"'
 '8\' 6"' '9\' 10"' '9\' 2"' '9\' 5"' '9\' 6"' '9\' 7"' '9\' 8"'
 'None or Unspecified']
Thumb ['Hydraulic' 'Manual' 'None or Unspecified']
Pattern_Changer ['No' 'None or Unspecified' 'Yes']
Grouser_Type ['Double' 'Single' 'Triple']
Backhoe_Mounting ['None or Unspecified' 'Yes']
Blade_Type ['Angle' 'Coal' 'Landfill' 'No' 'None or Unspecified' 'PAT' 'Semi U'
 'Straight' 'U' 'VPAT']
Travel_Controls ['1 Speed' '2 Pedal' 'Differential Steer' 'Finger Tip' 'Lever'
 'None or Unspecified' 'Pedal']
Differential_Type ['Limited Slip' 'Locking' 'No Spin' 'Standard']
Steering_Controls ['Command Control' 'Conventional' 'Four Wheel Standard' 'No' 'Wheel']

In [34]:
df.columns

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Blade_Extension',
       'Blade_Width', 'Enclosure_Type', 'Engine_Horsepower', 'Hydraulics',
       'Pushblock', 'Ripper', 'Scarifier', 'Tip_Control', 'Tire_Size',
       'Coupler', 'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow',
       'Track_Type', 'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb',
       'Pattern_Changer', 'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type',
       'Travel_Controls', 'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [60]:
df_41on = df.iloc[:,40:]
df_41on

,Grouser_Tracks,Hydraulics_Flow,Track_Type,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,None or Unspecified,Standard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None or Unspecified,Standard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401120,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401121,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401122,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401123,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401124,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [42]:
percent = 100*(len(df_41on.loc[:, df.isnull().sum(axis=0)>=1].index) / len(df.index))

In [43]:
round(percent,2)

100.0

In [61]:
N = df_41on.shape[0]

In [62]:
for col in df_41on.columns:
    print(col, round(100*(df_41on[col].isna().sum() / N), 2))

Grouser_Tracks 89.19
Hydraulics_Flow 89.19
Track_Type 75.28
Undercarriage_Pad_Width 75.1
Stick_Length 75.27
Thumb 75.25
Pattern_Changer 75.27
Grouser_Type 75.28
Backhoe_Mounting 80.39
Blade_Type 80.1
Travel_Controls 80.1
Differential_Type 82.7
Steering_Controls 82.71

In [65]:
df[['MachineHoursCurrentMeter', 'UsageBand']].head(20)

    MachineHoursCurrentMeter UsageBand
0                       68.0       Low
1                     4640.0       Low
2                     2838.0      High
3                     3486.0      High
4                      722.0    Medium
5                      508.0       Low
6                    11540.0      High
7                     4883.0      High
8                      302.0       Low
9                    20700.0    Medium
10                    1414.0    Medium
11                    2764.0       Low
12                       0.0       NaN
13                    1921.0    Medium
14                     320.0       Low
15                    2450.0    Medium
16                    1972.0       Low
17                       0.0       NaN
18                     994.0       Low
19                    8005.0    Medium

In [66]:
df['YearMade']

0         2004
1         1996
2         2001
3         2001
4         2007
          ...
401120    2005
401121    2005
401122    2005
401123    2005
401124    2005
Name: YearMade, Length: 401125, dtype: int64

In [67]:
df[df['MachineHoursCurrentMeter'] == 0]['YearMade']

12        1998
17        2003
27        2000
33        1000
36        1000
          ...
392140    2001
392166    2006
392193    1994
392207    1994
392254    2005
Name: YearMade, Length: 73126, dtype: int64

In [76]:
df[df['MachineHoursCurrentMeter'] == 0].shape[0] / df.shape[0]

0.1823022748519788

In [75]:
df['MachineHoursCurrentMeter'].isnull().sum() / df.shape[0]

0.6440885010906825

In [74]:
np.unique(df[df['YearMade'] <= 2000])

TypeError: '<' not supported between instances of 'str' and 'int'

In [176]:
X_null = df[df['MachineHoursCurrentMeter'].isna()][['SalePrice', 'YearMade', 'SalesID']].copy()
X_null.set_index('SalesID', inplace=True)

In [167]:
X_train = df[df['MachineHoursCurrentMeter'].notna()][['SalesID', 'SalePrice', 'YearMade', 'MachineHoursCurrentMeter']].copy()
X_train.set_index('SalesID', inplace=True)

In [170]:
y_train = X_train[['MachineHoursCurrentMeter']].copy()
# y_train.set_index('SalesID', inplace=True)
y_train

         MachineHoursCurrentMeter
SalesID
1139246                      68.0
1139248                    4640.0
1139249                    2838.0
1139251                    3486.0
1139253                     722.0
...                           ...
6319998                      24.0
6320871                      24.0
6321495                    2196.0
6321692                      24.0
6331198                    1120.0

[142765 rows x 1 columns]

In [171]:
X_train.drop('MachineHoursCurrentMeter', axis=1, inplace=True)

In [172]:
X_train

         SalePrice  YearMade
SalesID
1139246      66000      2004
1139248      57000      1996
1139249      10000      2001
1139251      38500      2001
1139253      11000      2007
...            ...       ...
6319998      55000      1999
6320871      15200      2006
6321495      11200      1000
6321692      13000      2008
6331198      30700      2005

[142765 rows x 2 columns]

KNNImputer(add_indicator=False, copy=True, metric='nan_euclidean',
           missing_values=nan, n_neighbors=5, weights='distance')

array([[7.500000e+03, 2.006000e+03, 1.235885e+06],
       [7.500000e+03, 2.005000e+03, 1.235887e+06],
       [1.300000e+04, 2.000000e+03, 1.235892e+06],
       ...,
       [1.150000e+04, 2.005000e+03, 6.333338e+06],
       [9.000000e+03, 2.005000e+03, 6.333341e+06],
       [7.750000e+03, 2.005000e+03, 6.333342e+06]])

In [173]:
neigh = KNeighborsRegressor()

In [174]:
neigh.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [178]:
predictions = neigh.predict(X_null)

In [179]:
X_null

         SalePrice  YearMade
SalesID
1235885       7500      2006
1235887       7500      2005
1235892      13000      2000
1235893       8000      2000
1235897      11000      2006
...            ...       ...
6333336      10500      2005
6333337      11000      2005
6333338      11500      2005
6333341       9000      2005
6333342       7750      2005

[258360 rows x 2 columns]

In [180]:
X_null['MachineHoursCurrentMeter'] = predictions

In [181]:
X_null

         SalePrice  YearMade  MachineHoursCurrentMeter
SalesID
1235885       7500      2006                     788.8
1235887       7500      2005                     989.6
1235892      13000      2000                    1584.2
1235893       8000      2000                     789.6
1235897      11000      2006                    1104.2
...            ...       ...                       ...
6333336      10500      2005                    1017.8
6333337      11000      2005                    1228.2
6333338      11500      2005                    1589.2
6333341       9000      2005                     587.8
6333342       7750      2005                     486.2

[258360 rows x 3 columns]